@charset "UTF-8";

/* --------------------------------------------
reset
----------------------------------------------- */

html, body, div, span,
article, section, nav, header, footer, main, aside,
h1, h2, h3, h4, h5, h6,
form, fieldset, legend, label,
dl, dt, dd, ol, ul, li, p,
table, caption, tbody, thead, tfoot, tr, th, td,
a, strong, em, mark, b, small, i, img,
object, figure, figcaption, canvas, audio, video, iframe {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article, section, nav, header, footer, main, aside,
figure, figcaption {
  display: block;
}
html, body, div, p, span,
article, section, nav, header, footer, main, aside,
h1, h2, h3, h4, h5, h6,
input, select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, button, textarea, select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  border-radius: 0;
}
select::-ms-expand {
  display: none;
}
ol, ul {
  list-style: none;
}

/* --------------------------------------------
layout
----------------------------------------------- */

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #000000;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "Shippori Antique", serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
a,
button {
  display: block;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
img,
video {
  width: 100%;
  vertical-align: bottom;
}
img[src$=".svg"],
video[src$=".svg"] {
  width: auto;
  min-width: 100%;
  max-width: 100%;
}

/* --------------------------------------------
module
----------------------------------------------- */

/* inner */
.mod-inner {
  width: calc(100% - 25px * 2);
  max-width: 1000px;
  margin: 0 auto;
}

/* title */
.mod-ttl {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px 25px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #FFFFFF;
  background: #000000;
}
.mod-ttl span {
  font-size: 1.4rem;
}
.mod-ttl span::after {
  content: '\A';
  white-space: pre;
}

/* content */
.mod-content {
  margin: 0 0 25px 0;
  padding: 25px;
  background: #FFFFFF;
  border: solid 3px #000000;
}
.mod-content:last-child {
  margin: 0;
}

/* text */
.mod-txt {
  margin: 0 0 1em 0;
}
.mod-txt:last-child {
  margin: 0;
}
.mod-txt.mod-txt__left {
  text-align: left;
}
.mod-txt.mod-txt__right {
  text-align: right;
}
.mod-txt.mod-txt__center {
  text-align: center;
}

/* button */
.mod-btn {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
.mod-btn a {
  padding: 3px 25px;
  font-size: 1.6rem;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border: solid 3px #000000;
  border-radius: 100px;
}
.mod-btn.mod-btn__next a::after {
  content: '>';
  margin: 0 0 0 1em;
}
.mod-btn.mod-btn__prev a::after {
  content: '<';
  margin: 0 1em 0 0;
}

/* --------------------------------------------
body
----------------------------------------------- */

.body {
  position: relative;
  min-height: 100vh;
  padding: calc(50px + 25px) 0 calc(25px + 25px) 0;
  background-color: #FFFFFF;
  background-image: -o-radial-gradient(circle, #000000 1px, transparent 1px), -o-radial-gradient(circle, #000000 1px, transparent 1px);
  background-image: radial-gradient(circle, #000000 1px, transparent 1px), radial-gradient(circle, #000000 1px, transparent 1px);
  background-position: 0 0, 2px 4px;
  background-size: 4px 8px;
  border: solid 3px #000000;
}

/* --------------------------------------------
header
----------------------------------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #000000;
  z-index: 100;
}
.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

/* navgation */
.header .nav__btn {
  position: relative;
  width: 30px;
  height: 20px;
}
.header .nav__btn::before,
.header .nav__btn::after,
.header .nav__btn span {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  text-indent: -9999px;
  background: #FFFFFF;
}
.header .nav__btn::before {
  top: 0;
  -webkit-transform: translate(0, 0) rotate(0);
      -ms-transform: translate(0, 0) rotate(0);
          transform: translate(0, 0) rotate(0);
}
.header .nav__btn::after {
  top: 100%;
  -webkit-transform: translate(0, -100%) rotate(0);
      -ms-transform: translate(0, -100%) rotate(0);
          transform: translate(0, -100%) rotate(0);
}
.header .nav__btn span {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(0);
      -ms-transform: translate(0, -50%) rotate(0);
          transform: translate(0, -50%) rotate(0);
}
.header .nav__btn.is-open::before,
.header .nav__btn.is-open::after {
  top: 50%;
  left:50%;
}
.header .nav__btn.is-open::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.header .nav__btn.is-open::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.header .nav__btn.is-open span {
  width: 0;
}
.header .nav__content {
  position: fixed;
  top: 50px;
  left: 100%;
  width: 100%;
  height: calc(100% - 50px);
  padding: 25px;
  background: #000000;
  z-index: 100;
}
.header .nav__content.is-open {
  left: 0;
}
.header .nav__item {
  margin: 0 0 25px 0;
  font-size: 1.8rem;
  text-align: center;
}
.header .nav__item:last-child {
  maegin: 0;
}
.header .nav__item a {
  display: inline;
  color: #FFFFFF;
}

/* --------------------------------------------
footer
----------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background: #000000;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.footer__txt {
  font-size: 1.2rem;
  color: #FFFFFF;
}
